---
import Layout from "../layouts/Layout.astro";
import Siteheader from "../components/SiteHeader.astro";
import Intro from "../components/Intro.astro";
import Gallery from "../components/Gallery.astro";
import Experiences from "../components/Experiences.astro";
import Newsletter from "../components/Newsletter.astro";
import Education from "../components/education/Education.astro";
import Skills from "../components/Skills.astro";
import Sitefooter from "../components/SiteFooter.astro";
---

<Layout title="Arnaud Outtier">
  <Siteheader />
  <div id="top-section">
    <Intro />
    <Gallery />
  </div>
  <!-- #top-section -->
  <main id="main">
    <Experiences />
    <div class="group">
      <Newsletter />
      <Education />
      <Skills />
    </div>
    <!-- .group -->
  </main>
  <!-- #main -->
  <Sitefooter />
</Layout>

<style lang="scss">
  /* #main */
  #main {
    width: min(1200px, 90vw);
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;

    > .group {
      display: grid;
      row-gap: 3rem;
    }
  }

  /* #top-section */
  #top-section {
    display: grid;
    row-gap: 5rem;
  }

  @media (min-width: 1024px) {
    /* #main */
    #main {
      > .group {
        padding-inline: clamp(4rem, 5vw + 3rem, 8rem) 0;
      }
    }
  }
</style>
