/* BUTTONS */

button,
.btn {
  cursor: pointer;
  color: inherit;
  border: 0;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  border-radius: 0.375rem;
  transition: all 0.4s ease;
}

/* Button Primary */

.btn-primary {
  padding-block: 1rem;
  background-color: rgb(244, 244, 245, 0.5);
  font-weight: 500;
  color: var(--clr_primary);

  &:hover {
    background-color: rgb(229, 231, 235, 0.7);
    color: rgb(20, 184, 166);
  }
}

/* Button Secondary */

.btn-secondary {
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: var(--clr_primary);
  color: var(--clr_light_200);

  &:hover {
    opacity: 0.9;
  }
}

/* INPUTS */

input {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  border: 1px solid rgba(42, 39, 39, 0.1);
  border-radius: 0.375rem;
  color: rgba(42, 39, 39, 0.5);
  box-shadow: rgba(39, 39, 42, 0.05) 0 4px 6px -1px;
  background-color: inherit;

  flex-grow: 1;

  &::placeholder {
    color: rgba(42, 39, 39, 0.3);
  }
}

/*  ! THEME DARK ! */

:is([data-theme="dark"]) {
  /* BUTTONS */

  .btn-primary {
    background-color: rgb(39, 39, 42, 0.5);

    &:hover {
      background-color: var(--clr_dark_500);
      color: #fff;
    }
  }

  .btn-secondary {
    background-color: rgba(63, 63, 70, 0.4);

    &:hover {
      background-color: var(--clr_dark_400);
    }
  }

  /* INPUTS */

  input {
    background-color: var(--clr_dark_500);

    &::placeholder {
      color: var(--clr_secondary);
    }
  }
}
