// @media (prefers-color-scheme: dark) {
//   :root {
//     background-color: #001d26;
//     color: #ffeb3b;
//   }
// }

.darkmode {
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}
