---
import "../scss/variables.scss";
import "../scss/base.scss";
import "../scss/buttons.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: var(--ff_primary);
    background-color: var(--background);
    transition: background-color 0.2s ease;
    overflow-x: hidden;
    margin: 0;

    display: grid;
    row-gap: clamp(4rem, 3.0909rem + 3.8788vw, 6rem);
  }
</style>

<script>
  import "../js/themeMode.js";
</script>
