---
import "../scss/base.scss";
import "../scss/buttons.scss";
import "../scss/dark-theme.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --clr-light: #ffffff;
    --clr-dark: black;
    --background: var(--clr-light);
  }

  [data-theme="dark"] {
    --background: var(--clr-dark);
  }

  @media (prefers-color-scheme: dark) {
    --background: var(--clr-dark);
  }

  body {
    font-family: ui-sans-serif, system-ui, sans-serif;
    background-color: var(--background);
    transition: background-color 0.2s ease;
    overflow-x: hidden;
    margin: 0;

    display: grid;
    row-gap: clamp(4rem, 3.0909rem + 3.8788vw, 6rem);
  }
</style>

<script>
  import "../js/themeMode2.js";
</script>
